streamlit == 1.27.0
# pandas == 2.0.3
pandas
geopandas == 0.13.2
folium == 0.14.0
lasio == 0.30
plotly==5.14.1
plotly-express == 0.4.1
streamlit-folium == 0.15.0
matplotlib == 3.6.3
openpyxl == 3.1.2
pandas-profiling==3.6.6
ydata-profiling==4.1.2